@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.nav {
    padding: 0 1rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    position: sticky;
    z-index: 99;

    &__logo {
        width: 11rem;
    }

    &__list {
        display: none;

        @include tablet {
            display: flex;
            gap: 2rem;
        }
    }

    &__list-item {
        display: flex;
        align-items: center;
        gap: .5rem;
        cursor: pointer;
    }

    &__icon {
        height: 1rem;
        transition: transform .5s cubic-bezier(.76,0,.24,1);
        cursor: pointer;

        &:hover {
            transform: rotate(-180deg);

        }
    }

    &__actions {
        display: none;

        @include tablet {
            display: flex;
            align-items: center;
            gap: 1rem;
        }
    }

    &__button {
        @include button;
        padding: 1rem 1.5rem;
    }
}

.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 2rem;
    height: .75rem;
    cursor: pointer;

    @include tablet {
        display: none;
    }

    &__line1, &__line2 {
        transform-origin: 50% 50%;
        width: 100%;
        height: 2px;
        background-color: $primary-font-color;
        transition: all 1s ease;
    }
}

.active {
    color: $primary-font-color;

    .hamburger {

        span {
            &:first-child {
                background-color: $primary-font-color;
                transform: translate(5px, 5px) rotate(45deg);         
             }
            &:nth-child(2) {
                background-color: $primary-font-color;
                transform: translate(5px, -5px) rotate(-45deg);            
            }
        }
    }
}