$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

//Font variables //
$font-stack: "Jost", sans-serif;
$root-font-size: 100%;

// Background colors //
$primary-background-color: #fcfcfc;
$secondary-background-color: #f9f8f7;

// Font colors //
$primary-font-color: #33302f;
$secondary-font-color: white;

// Card colors //
$beige-card-color: #fcf7f3;
$green-card-color: #f5fae7;
$blue-card-color: #f6f8fd;
$tan-card-color: #faefe5;
$white-card-color: white;

// Border colors //
$primary-border: #e4e2e1;
$green-border: #849E95;
$light-green-border: #A6C8BD;
$blue-border: #7CA5CE;
$purple-border: #815d79;


// Button colors //
$button-color: #33302f;
$button-hover-color: linear-gradient(#33302f, #494544);
