$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

//Font variables //
$font-stack: "Jost", sans-serif;
$root-font-size: 100%;

// Background colors //
$primary-background-color: #f5f5f5;
$secondary-background-color: #F9F8F7;

// Font colors //
$primary-font-color: #33302F;
$secondary-font-color: white;

// Card colors //
$beige-card-color: #FCF7F3;
$green-card-color: #F5FAE7;
$tan-card-color: #FAEFE5;
$white-card-color: white;

// Border colors //
$green-border: #849E95;
$light-green-border: #A6C8BD;
$blue-border: #7CA5CE;

// Button colors //
$button-color: #33302F;
$button-hover-color: linear-gradient(#33302F, #494544)
