@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.cta-card {
  height: 50vh;

  @include tablet {
    height: 60vh;
    padding: 3rem;
  }

  &__container {
    height: 50vh;
    background-color: $green-card-color;
    border-radius: 15px;

    @include tablet {
      height: 60vh;
    }
  }

  &__content {
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;

    @include tablet {
      height: 40%;
    }
  }

  &__bottom {
    display: flex;
    justify-content: center;
    height: 20%;
  }

  &__button {
    @include button;
    text-align: center;
    width: 12rem;
    height: 2rem;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
