@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.carousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 29rem;
    height: 15rem;
    border-radius: 20px;

    @include tablet{
        width: 30rem;
        height: 20rem;
    }
    }

    &__border-green {
        background-color: $green-border;
        height: 1.5rem;
        width: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    &__border-light-green {
        background-color: $light-green-border;
        height: 1.5rem;
        width: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    &__border-blue {
        background-color: $blue-border;
        height: 1.5rem;
        width: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    &__border-purple {
        background-color: $purple-border;
        height: 1.5rem;
        width: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    &__title {
        margin: 1rem 0;
        max-width: 25rem;
    }

    &__text {
        width: 27rem;
    }
}